<div class="panel panel-info panel-border top mb35">
  <div class="panel-heading">
    <span class="panel-title">EDITION D'UNE VAGUE DE BOULANGERIE </span>
  </div>
  <div class="panel-body bg-light dark">
    <div class="tab-content pn br-n admin-form">
      <div  class="tab-pane active">
        <div class="section row">
          <div class="col-md-4">
            <label class="field prepend-icon">
              <textarea [(ngModel)]="vague.description" class="gui-textarea" id="store-desc" name="store-desc" placeholder="Description du produit"></textarea>
              <label for="store-desc" class="field-icon">
                <i class="fa fa-text-height"></i>
              </label>
            </label>
          </div>
          <div class="col-md-4" style="margin-top:15px;">
            <div class="form-group">
              <label class="col-md-2 control-label">Horaire</label>
              <div class="col-md-7">
                <select (change)="selectHoraire()" name="horaire"   [(ngModel)]="vague.horaire" class="select2-single form-control">
                  <option value="matin" > Matin</option>
                  <option value="soir" > Soir</option>
                </select>
              </div>
            </div>

          </div>
          <div class="col-md-2 " style="margin-top: 15px;">
            <button [disabled]="disable" class="btn active btn-primary btn-block" (click)="editVague()">&nbsp;<span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Editer</button>
          </div>
          <div class="col-md-2  " style="margin-top: 15px;">
            <button  class="btn active btn-danger btn-block" (click)="redirect()"><span class="glyphicon glyphicon-circle-arrow-left"></span>&nbsp;&nbsp;Retour</button>
          </div>
        </div>
      </div>
    </div>
    <div [hidden]="produit.statut" *ngFor="let produit of prodSelected"  class="panel panel-info panel-border top mb35">
      <div class="panel-heading">
        <span class="panel-title">Creation de {{produit.libelle}}.</span>
      </div>
      <div class="tab-content pn br-n admin-form">
        <div  class="tab-pane active  p8 ">
          <div class="section row">
            <div class="col-md-3">

              <label style="margin-bottom: 10px  ; margin-top: 5px  ;" for="inputStandard" class="col-md-1 control-label">Nombre</label>
              <label  class="field prepend-icon">
                <input  type="number" name="nommbre" min="0" [(ngModel)]="produit.nombre"   class="gui-input" placeholder="Nombre de plats">
                <label  class="field-icon">
                  <i class="fa fa-text-height"></i>
                </label>
              </label>
            </div>
            <div class="col-md-3">

              <label style="margin-bottom: 10px  ; margin-top: 5px  ;" for="inputStandard" class="col-md-1 control-label">Plus</label>
              <label  class="field prepend-icon">
                <input  type="number" name="plus"  min="0"[(ngModel)]="produit.plus"   class="gui-input" placeholder="Plus">
                <label  class="field-icon">
                  <i class="fa fa-text-height"></i>
                </label>
              </label>
            </div>
            <div class="col-md-3">

              <label style="margin-bottom: 10px  ; margin-top: 5px  ;" for="inputStandard" class="col-md-1 control-label">Reste</label>
              <label  class="field prepend-icon">
                <input  type="number" name="vente"  min="0" [(ngModel)]="produit.reste"   class="gui-input" placeholder="Vente">
                <label  class="field-icon">
                  <i class="fa fa-text-height"></i>
                </label>
              </label>
            </div>
            <div class="col-md-1 col-md-offset-1" style=" margin-top: 30px  ;">
              <button class="btn btn-danger" (click)="cancel(produit.id)"><span class="glyphicon glyphicon-remove"></span></button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>






