

<section id="content" class="table-layout animated fadeIn"   >

  <!-- begin: .tray-center -->
  <div class="tray tray-center col-md-12" >

    <div class="mw1400 center-block">

      <!-- Begin: Content Header -->
      <div class="content-header">

      </div>

      <!-- Begin: Admin Form -->
      <div class="admin-form" >

        <div class="panel heading-border">
          <div class="panel-body bg-light">



            <div class="section-divider mb40" id="spy1">
              <span>Créer ou Modifier Commande</span>
            </div>


            <div class="col-md-6 center-block">
              <label class="form-control-label" >Produit</label>
              <ng-select  [items]="this.produits"
                          bindLabel="libelle"
                          placeholder="Select item"
                          appendTo="body"
                          multiple="true"
                          (change)="getValues1()"
                          [(ngModel)]="this.selected">
              </ng-select>
            </div>
            <br>

            <br>
            <div class="col-md-12">
              <div class="form-group col-md-12" *ngFor="let document of this.produits;let q=index">
                <div [hidden]="!document.cocher">


                  <br>
                  <br>
                  <div class=" section row">
                    <div class="col-md-6">
                      <td> <span class="btn btn-default"  style = "font-weight: bold;font-size:20px" >{{document.libelle}}</span></td>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group col-md-12 center-block">
                        <label class="form-control-label"  >Quantite</label>

                        <div class="section">

                          <input type="text" class="gui-input" name="etModule{{q}}" id="field_etModule{{q}}"  required="required" [(ngModel)]="document.quantite"/>
                          <label  class="field-icon">

                          </label>


                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>



            <div>



              <div class="row">
                <div style="float: right;">
                  <button  type="submit" id="save-entity"  class="btn btn-primary" (click)="insertData()" >
                    &nbsp;<span >Save</span>
                  </button>
                  <button type="button" id="cancel-save" class="btn btn-danger"  (click)="precedentPage()" >
                    &nbsp;<span >Annuler</span>
                  </button>

                </div>
              </div>

            </div>





          </div>

        </div>

      </div>
    </div>
  </div>
</section>








