


<div class="panel">
  <div class="panel-body pn">
    <div class="table-responsive">
      <table class="table admin-form theme-warning tc-checkbox-1 fs13">
        <thead>
        <tr class="bg-light">
          <th class="text-center">Numero</th>
          <th class="">Date</th>
          <th class="">Mois</th>
          <th class="">Nombre de Ticket</th>
          <th class="">Total à payer</th>
          <th class="">Facture</th>
          <th class="">Actions</th>


        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let type of typeList | paginate: { itemsPerPage: 10, currentPage: p} , let i=index">
          <td>
            {{i+1}}
          </td>
          <td class="">
              {{type.date}}
            </td>
          <td class="">
            {{type.mois}}
          </td>
          <td class="">  {{type.nombreticket}}</td>
          <td class=""  style="color: blue;font-weight: bold;font-size: larger;">  {{type.somme}}</td>
          <td class="">
            <button class="btn btn-success" (click)="this.getfacture(this.id,type.id)"> Facture</button>
          </td>
          <td>
            <div class="btn-group flex-btn-group-container">
              <a routerLink="/abonnement2/{{this.id}}/{{type.id}}"><span style="margin-right: 10px" type="button" class="label label-rounded label-warning" ><span class="glyphicon glyphicon-pencil"></span> &nbsp;&nbsp;Editer</span></a>
              <a (click) ="deleteData(type.id)"><span style="margin-right: 10px" class="label label-rounded label-danger"> <span class="glyphicon glyphicon-trash"></span> &nbsp;&nbsp;Supprimer</span></a>
            </div>
          </td>
        </tr>

        </tbody>
      </table>
      <pagination-controls (pageChange)="p = $event"
      directionLinks="true"
      autoHide="true"
      responsive="true"
      previousLabel="Précédent"
      nextLabel="Suivant">

    </pagination-controls>
    </div>
  </div>
</div>
